/* cor dos icones de tecnologias */

.html {
  color: #ff6200;
}

.css {
  color: #004cff;
}

.javascript {
  color: #000000;
}

.javascript.darkMode {
  color: #c0c0c0;
}

.react {
  color: #58c4dc;
}

.php {
  color: #7a86b8;
}

.laravel {
  color: #ff2d20;
}

.git {
  color: #fb4f28;
}

.github {
  color: #000;
}

.github.darkMode {
  color: #c0c0c0;
}

.sql {
  color: #5cbeff;
}

/* cor dos icones de redes sociais */



.instagram{
  color: #222;
}

.instagram.darkMode{
  color: #c0c0c0;
}

.discord{
  color: #7289da;
}

.githubContact{
  color: #222;
}

.githubContact.darkMode{
  color: #c0c0c0;
}

.linkedin{
  color: #0e76a8;
}

.email{
  color: #f2a60c;
}