/* color i */

.html {
  color: #ff6200;
}

.css {
  color: #004cff;
}

.javascript {
  color: #000000;
}

.react {
  color: #58c4dc;
}

.php {
  color: #7a86b8;
}

.laravel {
  color: #ff2d20;
}

.git {
  color: #fb4f28;
}

.github {
  color: #000;
}

.sql {
  color: #5cbeff;
}