/* ? links */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ? reset padrão */

* {
  font-family: "Poppins", sans-serif;
  ;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  font-weight: 400;
  scroll-behavior: smooth;
  user-select: none;
}

/* ? start presets */

.displayFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ? end presets */

/* containers */

.container {
  width: 100%;
}

.headerContainer {
  height: 90px;
}

/* wrapper */

.navBar {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* movePageBar */

.movePageBar {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateX(-50%) translateY(-95%);
  width: 300px;
  height: 50px;
}

.moveBarContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #F1E7DD;
  box-shadow: inset 0 2px 60px rgb(0, 0, 0, 0.1),
    inset 0 2px 8px rgb(0, 0, 0, 0.1),
    inset 0 -4px 4px rgb(0, 0, 0, 0.05);
  border-radius: 20px;
  transition: .5s ease-in-out;
}

.moveBarContainer.darkMode {
  background-color: #222;
  box-shadow: inset 0 8px 60px rgb(0, 0, 0, 0.1),
    inset 0 8px 8px rgb(0, 0, 0, 0.1),
    inset 0 -4px 4px rgb(0, 0, 0, 0.1);
}

.moveBarContainer.darkMode h4 {
  color: #c0c0c0 !important;
}

.marker {
  position: absolute;
  left: 0;
  height: 4px;
  width: 0;
  background-color: #D9C55F;
  bottom: 8px;
  transition: 0.5s ease-in-out;
  border-radius: 4px;
}

.item {
  cursor: pointer;
  font-weight: 500;
  color: #222;
}

/* ! start navBar itens */


.headerContainer {
  box-shadow: #c0c0c0 0 0 5px;
  transition: 0.5s ease-in-out;
}

.headerContainer.darkMode {
  box-shadow: #3f3f3f 0 0 5px;
}

/* ! start Dark/white Mode toggles */

body {
  background-color: #F1E7DD;
  transition: 0.5s ease-in-out;
}

body.darkMode {
  background-color: #242021;
}

.themeSelectContainer {
  position: relative;
  width: 80px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  background-color: #F1E7DD;
  box-shadow: inset 0 2px 60px rgb(0, 0, 0, 0.1),
    inset 0 2px 8px rgb(0, 0, 0, 0.1),
    inset 0 -4px 4px rgb(0, 0, 0, 0.05);
  border-radius: 20px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.themeSelectContainer .setIndicator {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: scale(0.9);
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1),
    inset 0 1px 1px rgba(255, 255, 255, 1),
    inset 0 -1px 1px rgba(255, 255, 255, 1);
  transition: 0.5s ease-in-out;

}

.themeSelectContainer.darkMode .setIndicator {
  left: 40px;
  background: linear-gradient(to bottom, #444, #222);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5),
    inset 0 1px 1px rgba(255, 255, 255, 0.2),
    inset 0 -1px 1px rgba(255, 255, 255, 0.2);
}

.themeSelectContainer.darkMode {
  background-color: #222;
  box-shadow: inset 0 8px 60px rgb(0, 0, 0, 0.1),
    inset 0 8px 8px rgb(0, 0, 0, 0.1),
    inset 0 -4px 4px rgb(0, 0, 0, 0.1);
}

.moon {
  transform: rotate(160deg) scale(0);
  transition: .3s ease;

}

.moon.darkMode {
  font-size: 1.5em;
  color: #666;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, .5));
  transition-delay: .3s;
  transform: rotate(0deg) scale(1);
}

.sun {
  font-size: 1.5em;
  color: #666;
  transform: scale(1) rotate(0deg);
  transform: translateX(-2px);
  transition: .3s ease;
  transition-delay: .3s;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, .5));
}

.sun.darkMode {
  color: #222;
  transform: scale(0.01) rotate(160deg);
  transition: .5s ease;
}

/* end Dark/white Mode toggles */

/* ! start language change */

.languageSelectContainer {
  gap: 5px;
  position: relative;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  background-color: #F1E7DD;
  box-shadow: inset 0 2px 60px rgb(0, 0, 0, 0.1),
    inset 0 2px 8px rgb(0, 0, 0, 0.1),
    inset 0 -4px 4px rgb(0, 0, 0, 0.05);
  border-radius: 20px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.languageSelectContainer.darkMode {
  background-color: #222;
  box-shadow: inset 0 8px 60px rgb(0, 0, 0, 0.1),
    inset 0 8px 8px rgb(0, 0, 0, 0.1),
    inset 0 -4px 4px rgb(0, 0, 0, 0.1);
}

.languageSelectContainer.darkMode h4 {
  color: #c0c0c0;
}

.languageSelectContainer .setIndicatorLang {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 60px;
  height: 40px;
  border-radius: 20px;
  transform: scale(0.9);
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1),
    inset 0 1px 1px rgba(255, 255, 255, 1),
    inset 0 -1px 1px rgba(255, 255, 255, 1);
  transition: 0.5s ease-in-out;
}

.languageSelectContainer.darkMode .setIndicatorLang {
  background: linear-gradient(to bottom, #444, #222);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5),
    inset 0 1px 1px rgba(255, 255, 255, 0.2),
    inset 0 -1px 1px rgba(255, 255, 255, 0.2);
}

.languageSelectContainer.active .setIndicatorLang {
  left: 60px;
}

.languageSelectContainer h4 {
  color: #444;
}


/* end language change */
/* end navBar itens */

/* ! start about me */

.aboutMeContainer {
  padding-top: 70px;
  display: flex;
}


.aboutMe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
  width: 60%;
  background-color: #F1E7DD;
  box-shadow: inset 0 2px 60px rgb(0, 0, 0, 0.1),
    inset 0 2px 8px rgb(0, 0, 0, 0.1),
    inset 0 -4px 4px rgb(0, 0, 0, 0.05);
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}

.aboutMe.darkMode {
  background-color: #222;
  box-shadow: inset 0 8px 60px rgb(0, 0, 0, 0.1),
    inset 0 8px 8px rgb(0, 0, 0, 0.1),
    inset 0 -4px 4px rgb(0, 0, 0, 0.1);
}

.aboutMe.darkMode h3,
p {
  color: #c0c0c0;
}

.aboutMeText {
  width: 70%;
  font-size: 1.2rem;
  text-align: justify;
  color: #222;
}

.aboutMeTitle {
  color: #222;
  text-align: center;
  padding-bottom: 20px;
}

.aboutMeTitle.darkMode {
  color: #c0c0c0;
}

.aboutMeTextTech {
  width: 70%;
  font-size: 1.2rem;
  text-align: justify;
  color: #222;
  flex-direction: column;
  gap: 10px;
}

.tecnologias {
  gap: 20px;
}

.tecnologias i {
  font-size: 1.5rem;
}

/* end about me */

/* ! start projects */

.projectsContainer {
  margin-top: 100px;
  display: none;
}

/* div que leva todos os cards de projetos */

.projects {
  flex-direction: column;
  gap: 80px;
  padding: 50px;
  width: 60%;
  height: 500px;
  background-color: #F1E7DD;
  box-shadow: inset 0 2px 60px rgb(0, 0, 0, 0.1),
    inset 0 2px 8px rgb(0, 0, 0, 0.1),
    inset 0 -4px 4px rgb(0, 0, 0, 0.05);
  border-radius: 20px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  transition: 0.5s ease-in-out;
}

.projects.darkMode {
  background-color: #222;
  box-shadow: inset 0 8px 60px rgb(0, 0, 0, 0.1),
    inset 0 8px 8px rgb(0, 0, 0, 0.1),
    inset 0 -4px 4px rgb(0, 0, 0, 0.1);
}

.projects::-webkit-scrollbar {
  display: block;
  width: 10px;
  height: 0px;
}

.projects::-webkit-scrollbar-track {
  color: #222;
  transition: 0.5s ease-in-out;
}

.projects.darkMode::-webkit-scrollbar-track {
  color: #c0c0c0;
}

.projects::-webkit-scrollbar-thumb {
  background-color: #222;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}

.projects.darkMode::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
}

/* ? card do projeto */

.projectCard {
  width: 90%;
  height: 100%;
  flex-direction: column;
  border-radius: 10px;
  background: #eaeaea;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1),
    inset 0 1px 1px rgba(255, 255, 255, 1),
    inset 0 -1px 1px rgba(255, 255, 255, 1);
  gap: 0px;
  transition: 0.5s ease-in-out;
}

.projectCard.darkMode {
  background-color: #222;
  box-shadow: inset 0 2px 3px rgb(0, 0, 0, 0.1),
    inset 0 1px 1px rgb(0, 0, 0, 0.1),
    inset 0 -1px 1px rgb(0, 0, 0, 0.1);
}

/* segunda parte do card */
.projectInfo {
  width: 90%;
  height: 80%;
  gap: 20px;
  text-align: justify;
}

.projectTittle h1 {
  color: #222;
  transition: 0.5s ease-in-out;
}

.projectTittle.darkMode h1 {
  color: #c0c0c0;
}

.projectsText {
  width: 90%;
  height: 100%;
  overflow: scroll;
  padding: 15px;
  text-align: justify;
  color: #222;
  transition: 0.5s ease-in-out;
}

.projectsText.darkMode {
  color: #c0c0c0;
}

.projectsText::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

.projectsText::-webkit-scrollbar-track {
  color: #222;
  transition: 0.5s ease-in-out;
}

.projectsText.darkMode::-webkit-scrollbar-track {
  color: #c0c0c0;
}

.projectsText::-webkit-scrollbar-thumb {
  background-color: #222;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}

.projectsText.darkMode::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
}

.githubLink i {
  padding: 5px;
  font-size: 2.8rem;
  transition: .25s all;
  color: #fff;
  transition: 0.5s ease-in-out;
}

.githubLink.darkMode i {
  color: #222;
}

.githubLink i:hover {
  opacity: 50%;
}

.githubLink {
  width: 8%;
  height: 80%;
  border-radius: 20px;
  background-color: #222;
  transition: 0.5s ease-in-out;
}

.githubLink.darkMode {
  background-color: #c0c0c0;
}

/* end projects */

/* start Contact */

.contactContainer {
  margin-top: 300px;
  display: none;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
  width: 30%;
  background-color: #F1E7DD;
  box-shadow: inset 0 2px 60px rgb(0, 0, 0, 0.1),
    inset 0 2px 8px rgb(0, 0, 0, 0.1),
    inset 0 -4px 4px rgb(0, 0, 0, 0.05);
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}

.contact.darkMode {
  background-color: #222;
  box-shadow: inset 0 8px 60px rgb(0, 0, 0, 0.1),
    inset 0 8px 8px rgb(0, 0, 0, 0.1),
    inset 0 -4px 4px rgb(0, 0, 0, 0.1);
}

.contactSocialMedias {
  gap: 50px;
}

.contactSocialMedias i {
  font-size: 2.5rem;
}