@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scale{
  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(1.0);
  }

}
@keyframes scale-reverse{
  from {
    transform: scale(1.5);
  }

  to {
    transform: scale(1.0);
  }
}

@keyframes slide{
  from {
    transform: translateX(200px);
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes slide-reverse{
  from {
    transform: translateX(-200px);
  }

  to {
    transform: translateX(0px);
  }
}



.aboutMeContainer {
  animation: fade-in 1s;
  animation-timing-function: ease-in-out;
}

.projectsContainer {
  animation: fade-in 1s;
  animation-timing-function: ease-in-out;
}

.contactContainer {
  animation: fade-in 1s;
  animation-timing-function: ease-in-out;
}